body {
    font-family: 'Merriweather', serif;
    margin: 0%;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.top-section {
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    padding-bottom: 80px;
}

.top-section h1 {
    font-size: 45px;

}

.top-section p {
    padding-bottom: 20px;

}

.link-button-bidyanondo {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 7px;
    font-weight: 700;
    background-color: #FF5959;
    color: white;

}

.donate {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

.donate h1 {
    font-size: 35px;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;


}

.amunt-box-model {
    width: 80px;
    height: fit-content;
    border: 3px solid rgb(192, 189, 189);
    border-radius: 5px;
    background-color: rgb(192, 189, 189);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.amunt-box-model-selected {
    width: 80px;
    height: fit-content;
    border: 3px solid #FF5959;
    border-radius: 5px;
    background-color: #faa4a4;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

#donate-button-2nd {
    justify-content: center;
}

.donate-amount {
    margin-top: 100px;
    border: none;
    color: #ddd;
    margin: auto;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;

}

.top-section hr {
    margin-bottom: 20px;
}

.box-model {

    width: 250px;
    height: 250px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}

#box-model-01 {
    background-color: #edf5f6;
}

#box-model-02 {
    background-color: #ffeeee;
}

#box-model-03 {
    background-color: #fff4d6;
}


.half-width {
    width: 45%;
    height: auto;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-left: 5%;
    text-align: justify;
}

.half-widthimg {
    width: 45%;
    height: auto;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-right: 5%;

}

.half-width-02 {
    width: 45%;
    height: auto;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-right: 5%;

    text-align: justify;
}

.half-widthimg-02 {
    width: 45%;
    height: auto;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-left: 5%;

}








.box-model-bottom {

    width: 70%;
    height: 100px;
    border: 0px;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 100px;

}

.email-id {
    border: none;
    color: gray;
    font-size: 18px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.click-button-subscribe {
    text-decoration: none;
    padding: 10px 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 700;
    background-color: #FF5959;
    color: white;

}

.footer {
    width: 100%;
    height: 150px;
    background-color: black;
    text-align: center;
    padding-top: 30px;
}

.footer h1 {
    color: #FF5959;
}

.footer p {
    color: white;
}