body {
    font-family: 'Merriweather', serif;
    margin: 0%;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.top-section {
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    padding-bottom: 160px;
}

.top-section h1 {
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.top-section p {
    padding-bottom: 20px;

}



.link-button-bidyanondo {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 7px;
    font-weight: 700;
    background-color: #FF5959;
    color: white;

}

.donate {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 30px;
}

.donate h1 {
    font-size: 35px;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;


}

.amunt-box-model {
    width: 80px;
    height: fit-content;
    border: 3px solid rgb(192, 189, 189);
    border-radius: 5px;
    background-color: rgb(192, 189, 189);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.amunt-box-model-selected {
    width: 80px;
    height: fit-content;
    border: 3px solid #FF5959;
    border-radius: 5px;
    background-color: #faa4a4;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

#donate-button-2nd {
    justify-content: center;
}

.donate-amount {
    margin-top: 100px;
    border: none;
    color: #ddd;
    margin: auto;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;

}

.other-amount {
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    padding-bottom: 80px;
}

.other-amount hr {
    margin-bottom: 20px;
}

.gelary-head {
    padding-top: 100px;
    text-align: center;
}

.section-galary {
    display: flex;
    width: auto;
    margin-bottom: 70px;
    margin-top: 50px;
    justify-content: center;
}



.width-galary {
    width: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.width-galary img {
    border-radius: 10px;
}

.button-assunnah {
    padding: 20px 40px;
    border-radius: 7px;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    margin-left: 40%;
    margin-right: 40%;
    width: auto;
    text-align: center;
    background-color: #FF5959;
    margin-bottom: 50px;
}

.button-assunnah a {
    color: white;
    text-decoration: none;
}

.box-model {
    width: 250px;
    height: 250px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}

#box-model-01 {
    background-color: #edf5f6;
}

#box-model-02 {
    background-color: #ffeeee;
}

#box-model-03 {
    background-color: #fff4d6;
}

.half-width {
    width: 45%;
    height: auto;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-left: 5%;
    text-align: justify;
}

.half-widthimg {
    width: 45%;
    height: auto;
    text-align: center;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-right: 5%;

}

.half-width-02 {
    width: 45%;
    height: auto;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-right: 5%;
    text-align: justify;
}

.half-widthimg-02 {
    width: 45%;
    height: auto;
    text-align: center;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 10px;
    margin-left: 5%;

}

.bottom-box-model {
    text-align: center;
    margin-bottom: 5%;
    background-color: rgba(255, 166, 0, 0.207);
    width: 50%;
    margin: auto;
    padding: 90px;
    border-radius: 6px;

}

.bottom-box-model input {
    padding: 20px 60px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: gainsboro;
}

.bottom-box-model button {
    color: white;
    background-color: rgba(255, 0, 0, 0.547);
    padding: 20px 50px;
    font-size: 18px;
    box-sizing: border-box;
    margin-left: 0px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 600;
}

.footer {
    width: 100%;
    height: 180px;
    background-color: black;
    text-align: center;
    padding-top: 30px;
    margin-top: 120px;
}

.footer h1 {
    color: #FF5959;
}

.footer p {
    color: white;
}